extends base.pug
  
block meta
  meta(name="description" content="Justin tells the story of the day he proposed to Erica.")

block content
  main(role="main").main.main-story
    .container
      .main-story-cube-container.center
        img(src=require('./img/fence.svg'))
      h2.vanity-font.center.main-story-title The Proposal 
        span.nowrap as Told by Justin
      p I decided I wanted to propose at 
        a(href="http://stormking.org/" target="_blank") Storm King.
        |  It's a massive sculpture garden outside of NYC with beautiful views and large elemental sculptures.
      .main-story-img-wrap
        img(src=require('./img/IMG_0636.JPG') alt="Erica and Justin look at the map of storm king")
      p I had been planning for this day, but it was fun that as soon as a map and directions were involved Erica became very assertive. We discussed whether or not the squiggly lines meant swamps or not. Erica was right. Eventually we agreed to walk south, which was the total opposite direction of where the sculpture that I was planning on proposing to her in front of was, but all the better to throw her off the trail I suppose.
      .main-story-img-wrap
        img(src=require('./img/IMG_0023.JPG') alt="Erica and Justin walk the manicaured landscape")
      p They have very manicured landscapes. It’s cool seeing a property so big that everything is planned out in such a specific way. Also cool loose fitting pink shorts Erica is wearing. Love her style!
      .main-story-img-wrap
        img(src=require('./img/IMG_0295.JPG') alt="Mirrored rectangles in idyllic landscape")
      p I’ve always loved 
        a(href="http://collection.stormking.org/artist/ronald-bladen/" target="_blank") this sculpture
        | . Just three mirrored panels in the middle of an expansive idyllic landscape. Pretty solid metaphor for humanity's role on earth and kind of a 
        a(href="https://en.wikipedia.org/wiki/2001:_A_Space_Odyssey_(film)" target="_blank") space odyssey
        |  aesthetic.
      .main-story-img-wrap
        img(src=require('./img/IMG_0690.JPG') alt="Cool sculpture/ Good legs")
      p We took a photo with the sculpture. Our legs look good.
      .main-story-img-wrap
        img(src=require('./img/IMG_0013.JPG') alt="Mosquito water")
      p This water was very still and didn’t smell great.
      .main-story-img-wrap
        img(src=require('./img/IMG_0732.JPG') alt="Tree and cloud on green hill")
      p Yanna (our friend/photographer) snuck this cool landscape photo in. Props. Not often the elements collide in such a serendipitous way.
      .main-story-img-wrap
        img(src=require('./img/IMG_0442.JPG') alt="Buddha sculture/ do not like")
      p I do not like 
        a(href="http://collection.stormking.org/artist/zhang-huan/" target="_blank") this sculpture
        | . It’s SO literal and obvious. So naturally it was the most popular sculpture in the park. It was good to take a photo in front of though if only to further throw Erica off the trail of what was about to happen. I also started sweating pretty heavily about now. We had circled around the south end of the park and I knew we were getting closer to the 
        a(href="http://collection.stormking.org/artist/sol-lewitt/" target="_blank") Sol LeWitt cubes
        |  I knew were the correct representation of our relationship.
      .main-story-img-wrap
        img(src=require('./img/IMG_0473.JPG') alt="Going down the side trail at ericas request")
      p Erica asked that we go down this side trail furthering my anxiety because we had been on a direct path to the cubes. I love her so whatever she would like is chill.
      .main-story-img-wrap
        img(src=require('./img/IMG_0264.JPG') alt="Boiling sun in black polo")
      p The sun was boiling af at this moment. I was really starting to regret wearing black.
      .main-story-img-wrap
        img(src=require('./img/IMG_0135.JPG') alt="We got to the white cubes")
      p Finally we walk up on the cubes. I was sweating literal bullets. Luckily the intense sun made that seem normal. Minimalism and simplicity has been such a meaningful anchor in my life paths I started feeling deeply about how this inter related to our relationship and I got even more nervous for a moment. Not for any specific reason. It just was all very intense to me.
      .main-story-img-wrap
        img(src=require('./img/IMG_0404.JPG') alt="Proposing while Erica stands away from the camera")
      p I was trying to turn Erica in a direction that would make sense, but also so totally overcome with emotion that I finally dropped to one knee and asked her to marry me. When the moment actually happened it was like I left my body and was watching it from outside. I felt so surreal, in love and present. 
      .main-story-img-wrap
        img(src=require('./img/IMG_0405.JPG') alt="Erica says yes/ Marriage now a thing")
      p She said yes. Fewf. I think we hugged and kissed for like 45 minutes.
      .main-story-img-wrap
        img(src=require('./img/IMG_0318.JPG') alt="Saying OMG")
      p We were all like “OMG! I love you!”
      .main-story-img-wrap
        img(src=require('./img/IMG_0666.JPG') alt="Go through cubes and break rules")
      p We walked through the cubes after some coercing. Erica didn’t want to because it was breaking the rules and she loves rules. Eventually she came around.
      .main-story-img-wrap
        img(src=require('./img/IMG_0074.JPG') alt="Got to other side of cubes. Very happy")
      p Fewf! We got to the other side of the cubes without being arrested. Then we re-realized we were getting married and lost it again.
      .main-story-img-wrap
        img(src=require('./img/IMG_0670.JPG') alt="Erica wants you to look at her ring")
      p The ring is all cool and cubey.
      .main-story-img-wrap
        img(src=require('./img/IMG_0561.JPG') alt="We in the atmosphere")
      p We took some more atmospheric photos.
      .main-story-img-wrap
        img(src=require('./img/IMG_0644.JPG') alt="Yay! Icecream cake")
      p Afterwards we drove to Sean and Scott’s barbeque where Erica’s friends were waiting for us. They greeted us with champagne and 
        a(href="https://en.wikipedia.org/wiki/Ice_cream_cake" target="_blank") ice cream cake
        | . I am so thankful. It was great to hang with friends after making a beautiful sea change in me and Erica’s relationship.
